.main-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
